@using Kirkendrup.Models;

@{
    Layout = null;
    var global = (GlobalModel)ViewBag.Global;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Kirkendrup haven!</title>
        <link href="~/Content/Reset.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="site-wrapper">
            <header>
                <a class="logo" href="/">Kirkendruphaven</a>
            </header>

            @if(global.MainMenu != null)
            {
                @Html.Partial("_MainMenu", global.MainMenu)
            }
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </body>
</html>