@{
    Layout = null;
    
}
<!DOCTYPE html>
<html>
    <head>
        <title>Kirkendrup haven!</title>
        <link href="~/Content/Reset.css" rel="stylesheet" />
        <link href="~/Content/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="site-wrapper">
            <header>
                <a class="logo" href="/">Kirkendruphaven</a>
            </header>

            <h2>Layout page</h2>
            @RenderBody()
        </div>
    </body>
</html>