@model IEnumerable<Kirkendrup.Models.HelperModels.NavigationItem>

@{
    
    var test = Model;
    
    <nav>
        <ul class="main-menu">
            <li>
                <a href="/" title="Tilbage til forsiden">Forside</a>
            </li>
            @foreach (var item in Model)
	        {
                <li @Html.Raw(item.Active? "class=\"active\"":string.Empty)>
                    <a href="@item.Url" title="@item.Name">@item.Name</a>
                </li>		 
	        }
        </ul>
    </nav>
    
}