@model IEnumerable<Kirkendrup.Models.HelperModels.NavigationItem>

@{
    
    var test = Model;
    
    <nav>
        <ul class="main-menu">
            @foreach (var item in Model)
	        {
                <li>
                    <a href="@item.Url" title="@item.Name">@item.Name</a>
                </li>		 
	        }
        </ul>
    </nav>
    
}